<!--The content below is only a placeholder and can be replaced.-->
<h2>Here are some links to help you start: </h2>

<!--<app-tree-view></app-tree-view>-->

<!--<app-ztree class="component"></app-ztree>-->

<!--<app-template-form></app-template-form>-->

<!--<nz-demo-form-login></nz-demo-form-login>-->

<app-ng-template-example></app-ng-template-example>

<!--<app-select-tag></app-select-tag>-->

<!--<div style="height: 32px">-->
  <!--<app-search-select style="width:200px;border: 2px solid red"-->
    <!--nzAllowClear-->
    <!--[nzNotFoundContent]="'无法找到'"-->
    <!--[nzDisabled]="false"-->
    <!--[data]="optionLists"-->
    <!--[nzOptionLabel]="'name'">-->
  <!--</app-search-select>-->
<!--</div>-->

<!--<app-data-change [checkArr]="classFilter"-->
<!--[dataOfObj]="user" [dataOfStr]="qq"></app-data-change>-->

<!--<button (click)="change()">changeDataModel</button>-->
<!--<h2>{{user | json}}</h2>-->

<!--<app-display-person [person]="person" [address]="address"></app-display-person>-->

<!--<app-exe-parent></app-exe-parent>-->

<!--<app-exe-counter  [addStream]='counterStream'></app-exe-counter>-->

<!--<app-mouse-event></app-mouse-event>-->

<h1>h1 color test</h1>
<h2>h2 color test</h2>
<h3>h3 color test</h3>

<div style="width: 100px;height: 100px;background-color: #00B83F" class="test">

</div>
